/* login.module.css */

.login {
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #24abad 0%, #eb4fee 100%);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    margin-bottom: 80px;
}

h1 {
    margin-bottom: auto;
    padding: 0 100px 50px 100px;
    font-size: 40px;
}
  
.formGroup {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    font-size: 18px;
}

.signupLink {
    margin-bottom: 20px;
    text-align: center;
}
  
.signupLink a {
    color: blue;
}

.forgotPasswordLink {
    text-align: center;
}

.forgotPasswordButton {
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}


.loginButton {
    background-color: #077efd;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
    border: none;
    opacity: 0.9;
    width: 100%;
    padding: 10px;
    transition: transform 0.3s, opacity 0.3s;
    font-size: 16px;
}

.loginButton:hover {
    transform: translateY(-3px);
    opacity: 1;
}
