.forgotPasswordBackground {
    background-color: #00DBDE;
    background-image: linear-gradient(45deg, #ece46e 0%, #43e666 100%);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPassword {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    align-items: center;
    margin-bottom: 80px;
}

.forgotPassword form {
    display: flex;
    flex-direction: column;
}

.forgotPassword input {
    margin: 5px;
}