/* create.module.css */


.createBackground {
  background-color: lightslategray;
  flex: 1;
}
.create {
  margin: 20px auto;
  padding: 20px;
  width: 50%;
  text-align: center;
  box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.05), 0 0 20px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
}

.formGroup {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px auto;
}

.create textarea {
  resize: none;
  height: 80px;
}
  
.checkboxGroup {
  display: flex;
  align-items: center;
}
  
.checkboxLabel {
  margin-right: 10px;
}

.formGroup label {
  margin-bottom: 5px;
}

.formGroup input[type="text"],
.formGroup input[type="time"],
.formGroup input[type="date"],
.formGroup textarea,
.formGroup input[type="file"],
.formGroup input[type="checkbox"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.createButton {
  background-color: #007bff;
  color: white;
  padding: 10px 56px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.createButton:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}
  